<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <properties>
        <mainConnectionString>
          <!--Server=10.20.96.66;Database=sconit5_test;uid=sconittest;pwd=sconittest;-->
          Server=localhost;Database=Printing5_Test;uid=sa;pwd=sa;
        </mainConnectionString>
        <!--<subConnectionString>
          Server=10.20.96.66;Database=sconit5_test;uid=sconittest;pwd=sconittest;
          --><!--Server=localhost;Database=sconit5_test;uid=sa;pwd=sa;--><!--
        </subConnectionString>-->
    </properties>
</configuration>
