<?xml version="1.0"?>
<configuration>
    <configSections>
        <section name="castle" type="Castle.Windsor.Configuration.AppDomain.CastleSectionHandler, Castle.Windsor"/>
        <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net"/>
    </configSections>
    <castle>
        <include uri="file://Config//properties.config"/>
        <include uri="file://Config//data-access-nh.config"/>
        <include uri="file://Config//component-persistence.config"/>
        <include uri="file://Config//component-job.config"/>
    </castle>
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
    </startup>
</configuration>
