<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <properties>
        <EndPointAddress>net.tcp://localhost:7001/Pub</EndPointAddress>
        <ReportTemplateFolder>D:\Sconit5.0\Resources\Templates\</ReportTemplateFolder>
        <ReportTemporaryFolder>D:\Sconit5.0\Resources\Templates\Temporary\</ReportTemporaryFolder>
    </properties>
</configuration>
