<?xml version="1.0"?>
<configuration>
	<appSettings>
		<add key="EndpointAddress" value="net.tcp://localhost:7002/Sub"/>
	</appSettings>
  <!--<connectionStrings>
    <add name="SQLConnection" connectionString="Server=localhost;Database=WCF;User ID=sa;Password=sa;" providerName="System.Data.SqlClient"/>
  </connectionStrings>-->
 <startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup>
</configuration>
