<?xml version="1.0"?>
<configuration>
  <connectionStrings>
    <add name="SQLConnection" connectionString="Server=localhost;Database=Printing5_Test;User ID=sa;Password=sa;" providerName="System.Data.SqlClient"/>
  </connectionStrings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup></configuration>
