<?xml version="1.0"?>
<configuration>
  <configSections>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="PrintClient.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
    <section name="castle" type="Castle.Windsor.Configuration.AppDomain.CastleSectionHandler, Castle.Windsor" />
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net" />
  </configSections>
  <castle>
    <include uri="file://Config//properties.config" />
    <include uri="file://Config//componet-report.config" />
  </castle>
  <appSettings>
    <add key="EndpointAddress" value="net.tcp://10.86.13.83:7002/Sub" />
    <add key="TemplatePath" value="D:\source\sconit5.0\branch\Sconit5.0.0\src\WebApp.5.0.0\WebApp\Content\Template\" />
    <add key="ClientSettingsProvider.ServiceUri" value="" />
  </appSettings>
  <!--<connectionStrings>
    <add name="SQLConnection" connectionString="Server=localhost;Database=WCF;User ID=sa;Password=sa;" providerName="System.Data.SqlClient"/>
  </connectionStrings>-->
  <connectionStrings>
    <add name="OLEDBConnection" connectionString="Provider=Microsoft.ACE.OLEDB.12.0;Data Source=D:\Database1.accdb;" />
  </connectionStrings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0" />
  </startup>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="SecurityServiceSoap" closeTimeout="00:01:00" openTimeout="00:01:00" receiveTimeout="00:10:00" sendTimeout="00:01:00" allowCookies="false" bypassProxyOnLocal="false" hostNameComparisonMode="StrongWildcard" maxBufferSize="65536" maxBufferPoolSize="524288" maxReceivedMessageSize="65536" messageEncoding="Text" textEncoding="utf-8" transferMode="Buffered" useDefaultWebProxy="true">
          <readerQuotas maxDepth="32" maxStringContentLength="8192" maxArrayLength="16384" maxBytesPerRead="4096" maxNameTableCharCount="16384" />
          <security mode="None">
            <transport clientCredentialType="None" proxyCredentialType="None" realm="" />
            <message clientCredentialType="UserName" algorithmSuite="Default" />
          </security>
        </binding>
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://les.sih.cq.cn:1122/WebService/SecurityService.asmx" binding="basicHttpBinding" bindingConfiguration="SecurityServiceSoap" contract="SecurityService.SecurityServiceSoap" name="SecurityServiceSoap" />
    </client>
  </system.serviceModel>
  <applicationSettings>
    <PrintClient.Properties.Settings>
      <setting name="PrintClient_SconitWs_SecurityService" serializeAs="String">
        <value>http://localhost:1122/WebService/SecurityService.asmx</value>
      </setting>
    </PrintClient.Properties.Settings>
  </applicationSettings>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
      </providers>
    </roleManager>
  </system.web>
</configuration>