<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <components>
        <component id="mainDao"
            service="com.Sconit.Persistence.INHDao, com.Sconit.Persistence"
            type="com.Sconit.Persistence.NHDao, com.Sconit.Persistence" lifestyle="Singleton">
            <parameters>
                <sessionFactoryAlias>main</sessionFactoryAlias>
            </parameters>
        </component>
    </components>
</configuration>