<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <properties>
    <mainConnectionString>
      <!--Server=116.236.176.99;Database=sconit5_test;uid=sconittest;pwd=sconittest;-->
      <!--Server=localhost;Database=sconit5;uid=sa;pwd=sa;-->
      Server=10.86.9.52;Database=sconit5_New;uid=sa;pwd=P@ssw0rd;
    </mainConnectionString>
  </properties>
</configuration>
